@charset "UTF-8";
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li  {
    display: block;
    color: #eeeeec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a {
   text-decoration: none;
	
  }
 li :hover:not(.active) {
    background-color:#ad7fa8;
    text-decoration: none;
    
}

.active {
    background-color: #4CAF50;
}
.btn {
	background: none;
    border: none;
    display: inline;
    font: inherit;
    padding:0 5px 5px 5px;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: #75714c;
    cursor: default;
    text-decoration: none;
    
   /*  height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default; */
}
.btn:hover,
.btn:active,
.btn:focus {
    background-color:#03A9F4;
}